// Add your custom CSS here.
#c-648b319a5e606903703ab152 {
    display: none;
}
.menu__item-icon img {
    height: 30px;
}
.brand-line {
    display: flex;
}
@media(max-width: 767px) {
    .product-card__buy.fade {
        opacity: 1
    }
}
